*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #abdbe3;
}

<<<<<<< HEAD
.header{
=======
.navbar{
>>>>>>> 07c173b (second commit)
    justify-content: space-between;
    display: flex;
    background-color: aquamarine;
    align-items: center;
    height: 40px;
    font-size: 20pt;
    padding-left: 5%;
    padding-right: 5%;
}

<<<<<<< HEAD
.header a{
=======
.navbar a{
>>>>>>> 07c173b (second commit)
    text-decoration: none;
    color: black;
}

<<<<<<< HEAD
.title{
    font-size: x-large;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
=======
.editSection{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

.editSection a{
    text-decoration: none;
    color: navy;
    font-size: large;
    font-weight: 600;
}

.title{
    font-size: x-large;
    text-align: center;
    margin-top: 2%;
    font-weight: 700;
}

button{
    height: fit-content;
>>>>>>> 07c173b (second commit)
}

.row{
    display: flex;
    justify-content: space-evenly;
<<<<<<< HEAD

=======
>>>>>>> 07c173b (second commit)
}

.row-content{
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 2%;
    align-items: center;
    width: 33%;
}

.label{
    margin-right:40px;
<<<<<<< HEAD
    font-size: 20pt;
=======
    font-size: 15pt;
>>>>>>> 07c173b (second commit)
    font-weight: 600;
}